
@{
    ViewBag.Title = "Kodachadri Trek | Utopiatrips";
    Layout = "~/Views/Shared/_lowerpage.cshtml";
}

@section metatags
{
    <meta name="keywords" content="kodachadri trekking,kodachadri,kodachadri trek" />
    <meta name="description" content="Kodachadri trekking is the best escape resort to the urban folks who wish to explore the wilderness of nature. Book Kodachadri trek with Utopia Trips now!" />
}

<section class="parallax-window" data-parallax="scroll" data-image-src="https://res.cloudinary.com/dbwdz71fb/image/upload/v1522303143/kadachadri/kodachadri.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1>KODACHADRI TREK</h1>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div id="price_single_main">
                        per person <span class=" icon-rupee">3699</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">Two Day Trek</a>
                </li>
                <li>Kodachadri Trek</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <li><i class="icon_set_1_icon-37"></i>Mountain</li>
                        <li><i class="icon_set_1_icon-83"></i>1 Hours</li>
                        <li><i class="icon_set_1_icon-30"></i>Moderate</li>
                        <li><i class="icon_set_1_icon-82"></i>100+ Likes</li>
                        <li><i class="icon_set_1_icon-27"></i>Transportation</li>
                        <li><i class="icon_set_1_icon-58"></i>Breakfast</li>
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                    </ul>
                </div>
                <p class="visible-sm visible-xs">
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                </p>
                <p class="visible-sm visible-xs">
                    <a href=" https://www.youtube.com/watch?v=kfw8xycNSak" class="video btn_full">glimpses of picture Perfect</a>
                </p>
                <!-- Map button for tablets/mobiles -->
                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide">
                            <img alt="Kodachadri Trek" class="sp-image" src="~/Content/css/images/blank.gif" data-src="../Content/kodachadri/kodachadri10.jpg" data-small="../Content/kodachadri/kodachadri10.jpg" data-medium="../Content/kodachadri/kodachadri10.jpg" data-large="../Content/kodachadri/kodachadri10.jpg" data-retina="../Content/kodachadri/kodachadri10.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="Kodachadri Trek" class="sp-image" src="~/Content/css/images/blank.gif" data-src="../Content/kodachadri/kodachadri11.jpg" data-small="../Content/kodachadri/kodachadri11.jpg" data-medium="../Content/kodachadri/kodachadri11.jpg" data-large="../Content/kodachadri/kodachadri11.jpg" data-retina="../Content/kodachadri/kodachadri11.jpg">
                            <!--	<h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
                Lorem ipsum dolor sit amet </h3>
                        <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-show-transition="left" data-show-delay="200">
                            consectetur adipisicing elit
                        </p>
                        <p class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="160" data-width="350" data-show-transition="left" data-show-delay="400">
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Kodachadri Trek" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content/kodachadri/kodachadri12.jpg" data-small="../Content/kodachadri/kodachadri12.jpg" data-medium="../Content/kodachadri/kodachadri12.jpg" data-large="../Content/kodachadri/kodachadri12.jpg" data-retina="../Content/kodachadri/kodachadri12.jpg">
                            <!--	<p class="sp-layer sp-white sp-padding" data-position="centerCenter" data-vertical="-50" data-show-transition="right" data-show-delay="500">
                        Lorem ipsum dolor sit amet
                    </p>
                    <p class="sp-layer sp-black sp-padding" data-position="centerCenter" data-vertical="50" data-show-transition="left" data-show-delay="700">
                        consectetur adipisicing elit
                    </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Kodachadri Trek" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content/kodachadri/kodachadri13.jpg" data-small="../Content/kodachadri/kodachadri13.jpg" data-medium="../Content/kodachadri/kodachadri13.jpg" data-large="../Content/kodachadri/kodachadri13.jpg" data-retina="../Content/kodachadri/kodachadri13.jpg">
                            <!--<p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>-->
                        </div>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Kodachadri Trek" class="sp-thumbnail" src="~/Content/kodachadri/tn-kodachadri10.jpg">
                        <img alt="Kodachadri Trek" class="sp-thumbnail" src="~/Content/kodachadri/tn-kodachadri11.jpg">
                        <img alt="Kodachadri Trek" class="sp-thumbnail" src="~/Content/kodachadri/tn-kodachadri12.jpg">
                        <img alt="Kodachadri Trek" class="sp-thumbnail" src="~/Content/kodachadri/tn-kodachadri13.jpg">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Description</h3>
                    </div>
                    <div class="col-md-9">
                        <h4>Kodachadri Trekking </h4>
                        <p>
                            The name is derived from the words Kodacha and Adri which means the abode of hill Jasmine flowers. Now that says a lot about how magnificent the place is!
                            This natural marvel in Shimoga is renown for its waterfalls and peaks. Rubbing shoulders with Tunga river, this place is everything you need for a calming atmosphere. Get away from your monotonous lives for once, and embrace this western ghat beauty! Surround yourself with lush green forests and mountains. Set the wanderlust in you free!
                            <h4>What's include</h4>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list_ok">
                                        <li>Transportation (from/to Bangalore)</li>
                                        <li>Campfire (Depends on the Weather)</li>
                                        <li>2 Breakfast</li>
                                        <li>1 Lunch</li>
                                        <li>1 Dinner</li>
                                        <li>Accomodation</li>
                                        <li>Visit to Nagara Fort</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End row  -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Schedule</h3>
                    </div>
                    <div class="col-md-9">
                        <div class=" table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            You Should Know
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><th>Day 0</th></tr>
                                    <tr><td>9:30 PM Pickup starts from Bangalore</td></tr>
                                    <tr><th>Day 1</th></tr>
                                    <tr><td>6:30 AM Reach Homestay</td></tr>
                                    <tr><td>7:30 AM Fresh Up</td></tr>
                                    <tr><td>8:30 AM Have Breakfast and carry packed Lunch</td></tr>
                                    <tr><td>9:30 AM Start Kodachadri Trek</td></tr>
                                    <tr><td>2:00 PM Reach Peak and Have packed lunch</td></tr>
                                    <tr><td>2:30 PM Descend </td></tr>
                                    <tr><td>6:30 PM Reach Homestay and have Tea</td></tr>
                                    <tr><td>8:30 PM Enjoy Campfire followed by Dinner</td></tr>
                                    <tr><th>Day 2</th></tr>
                                    <tr><td>7:30 AM Wake up and Get ready</td></tr>
                                    <tr><td>8:00 AM Have Breakfast </td></tr>
                                    <tr><td>9:00 AM Checkout from Homestay and Depart to Bangalore, visit Nagara Fort on the way back to Bangalore</td></tr>
                                    <tr><td>7:30 PM Reach Bangalore</td></tr>

                                </tbody>
                            </table>
                        </div>
                        <div class=" table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            You Should Carry
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Torch per person
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sports shoes or trekking shoes in good condition
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Backpack
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Rain coat/Poncho
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Water bottles
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Energy bars, dry fruits, etc.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Personal medication
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sweater/ jackets for the night
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Toiletries (napkin, tissues, etc.)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Flashlight/Torch with extra batteries
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Track pants and cotton T-shirt
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--End  single_tour_desc-->
            <aside class="col-md-4">
                <p class="hidden-sm hidden-xs">
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                </p>
                <p class="hidden-sm hidden-xs">
                    <a href=" https://www.youtube.com/watch?v=kfw8xycNSak" class="video btn_full">glimpses of picture Perfect</a>
                </p>
                <div class="box_style_1 expose">
                    @Html.BeginForm("Payment", "Payment", FormMethod.Post)
                    {
                    <h3 class="inner">- Booking -</h3>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>First name</label>
                                <input class="form-control required" name="FirstName" id="name_booking" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Last name</label>
                                <input class="form-control required" name="LastName" id="last_name_booking" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control required" type="email" name="Email" id="email_booking">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control required" type="number" name="Phone" id="phone_booking">
                    </div>
                    <div class="form-group">
                        <label hidden>Trek Type</label>
                        <input type="hidden" value="Two-Day trek" id="trek_type" class="form-control" name="TrekType">
                        <!-- <select class="form-control" name="TrekType" id="trek_type">
                <option selected hidden>Select</option>
                <option value="Day Trek">Day Trek</option>
                <option value="Night Trek">Night Trek</option>
            </select>-->
                    </div>
                    <div class="form-group">
                        <label>Gift Code</label>
                        <input class="form-control required" type="text" name="GiftCode" id="gift_code">
                        <p> <small style="color:green;">*Use code UTROAM100 to get instant Rs.100 cashback</small></p>


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label><i class="icon-calendar-7"></i> Select a date</label>
                                <input class="date-pick form-control required" type="text" name="TripDate" id="date_booking">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Tickets</label>
                                <div class="numbers-row">
                                    <div class="dec button_inc">-</div>
                                    <input type="text" value="1" id="adults" class="qty2 form-control" name="Tickets">
                                    <div class="inc button_inc">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="3699" id="amount" class="qty2 form-control" name="Amount">
                    <input type="hidden" value="Kodachadri Trek" id="trek" class="qty2 form-control" name="Description">
                    <p>
                        <small>* Prices for person.</small>
                    </p>
                    <button type="submit" class="btn_full">Book now</button>
                    <div class="form-group">
                        <label style="color:forestgreen;display:none;" id="processInput">Please wait.....</label>
                    </div>
                    <div class="form-group">
                        <label style="color:red;display:none;" id="invalidInput">Invalid inputs, Please try again!</label>
                    </div>
                    @if (ViewBag.PaymentError != null)
        {
            <div class="form-group">
                <label style="color:red;">@ViewBag.LoginError</label>
            </div>
}
                </div>
                <!--/box_style_1 -->

                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://91 8197993224" class="phone">+91 8197993224</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>
<!-- End main -->
<script src="~/Content/js/map_js/kodachadri_map.js"></script>