
@{
    ViewBag.Title = "Payment Confirmation | Payment | Utopiatrips";
    Layout = "~/Views/Shared/_lowerpage.cshtml";
}


<section class="parallax-window" data-parallax="scroll" data-image-src="../Content/header/faq.jpg" data-natural-width="1200" data-natural-height="430">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Orders </h1>
            <p>Payment Confirmation</p>
        </div>
    </div>
</section>


<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Payment Confirm</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End position -->
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8 add_bottom_15">
                <div class="form_title">
                    <h3><strong><i class="icon-ok"></i></strong>Thank you!</h3>
                    <p>
                        The payment has been authorized and approved.
                    </p>
                </div>
                <div class="step">
                    <p>
                            The complete details of trip/trek will be shared to you via regiserted mail Id.
                    </p>
                </div>
                <!--End step -->
            </div>
            <!--End col-md-8 -->
            <aside class="col-md-4">
                @*<div class="box_style_1">
                    <h3 class="inner">Thank you!</h3>
                    <p>
                        Nihil inimicus ex nam, in ipsum dignissim duo. Tale principes interpretaris vim ei, has posidonium definitiones ut. Duis harum fuisset ut his, duo an dolor epicuri appareat.
                    </p>
                    <hr>
                    <a class="btn_full_outline" href="invoice.html" target="_blank">View your invoice</a>
                </div>*@
                <div class="box_style_4">
                    <i class="icon_set_1_icon-89"></i>
                    <h4>Have <span>Questions?</span></h4>
                    <a href="tel://8197993224" class="phone">+91 8197993224</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</main>
<!-- End main -->