
@{
    ViewBag.Title = "KuntiBetta Trek";
    Layout = "~/Views/Shared/_lowerpage.cshtml";
}

<section class="parallax-window" data-parallax="scroll" data-image-src="../Content/kunti/banner.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1>KuntiBetta Trekking</h1>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div id="price_single_main">
                        from/per person <span class=" icon-rupee">1099</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                </li>
                <li>KuntiBetta</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->

    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <li><i class="icon_set_1_icon-37"></i>Mountain</li>
                        <li><i class="icon_set_1_icon-83"></i>1 Hours</li>
                        <li><i class="icon_set_1_icon-30"></i>Moderate</li>
                        <li><i class="icon_set_1_icon-82"></i>100+ Likes</li>
                        <li><i class="icon_set_1_icon-27"></i>Transportation</li>
                        <li><i class="icon_set_1_icon-58"></i>Breakfast</li>
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                    </ul>
                </div>
                <p class="visible-sm visible-xs">
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                </p>
                <!-- Map button for tablets/mobiles -->
                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="~/Content/css/images/blank.gif" data-src="../Content/kunti/10.jpg" data-small="../Content/kunti/10.jpg" data-medium="../Content/kunti/10.jpg" data-large="../Content/kunti/10.jpg" data-retina="../Content/kunti/10.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="~/Content/css/images/blank.gif" data-src="../Content/kunti/11.jpg" data-small="../Content/kunti/11.jpg" data-medium="../Content/kunti/11.jpg" data-large="../Content/kunti/11.jpg" data-retina="../Content/kunti/11.jpg">
                            <!--	<h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
                            Lorem ipsum dolor sit amet </h3>
                                    <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-show-transition="left" data-show-delay="200">
                                        consectetur adipisicing elit
                                    </p>
                                    <p class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="160" data-width="350" data-show-transition="left" data-show-delay="400">
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content/kunti/12.jpg" data-small="../Content/kunti/12.jpg" data-medium="../Content/kunti/12.jpg" data-large="../Content/kunti/12.jpg" data-retina="../Content/kunti/12.jpg">
                            <!--	<p class="sp-layer sp-white sp-padding" data-position="centerCenter" data-vertical="-50" data-show-transition="right" data-show-delay="500">
                                    Lorem ipsum dolor sit amet
                                </p>
                                <p class="sp-layer sp-black sp-padding" data-position="centerCenter" data-vertical="50" data-show-transition="left" data-show-delay="700">
                                    consectetur adipisicing elit
                                </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content/kunti/13.jpg" data-small="../Content/kunti/13.jpg" data-medium="../Content/kunti/13.jpg" data-large="../Content/kunti/13.jpg" data-retina="../Content/kunti/13.jpg">
                            <!--<p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content/kunti/14.jpg" data-small="../Content/kunti/14.jpg" data-medium="../Content/kunti/14.jpg" data-large="../Content/kunti/14.jpg" data-retina="~/Content/kunti/14.jpg">
                            <!--<p class="sp-layer sp-white sp-padding" data-vertical="5%" data-horizontal="5%" data-width="90%" data-show-transition="down" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content//kunti/15.jpg" data-small="../Content/kunti/15.jpg" data-medium="../Content/kunti/15.jpg" data-large="../Content/kunti/15.jpg" data-retina="../Content/kunti/15.jpg">
                            <!--<p class="sp-layer sp-white sp-padding" data-horizontal="10" data-vertical="10" data-width="300">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content/kunti/16.jpg" data-small="../Content/kunti/16.jpg" data-medium="../Content/kunti/16.jpg" data-large="../Content/kunti/16.jpg" data-retina="../Content/kunti/16.jpg">
                            <!--<p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../Content/css/images/blank.gif" data-src="../Content//kunti/17.jpg" data-small="../Content/kunti/17.jpg" data-medium="../Content/kunti/17.jpg" data-large="../Content/kunti/17.jpg" data-retina="../Content/kunti/17.jpg">
                            <!--	<p class="sp-layer sp-black sp-padding" data-horizontal="50" data-vertical="50" data-show-transition="down" data-show-delay="500">
                                    Lorem ipsum dolor sit amet
                                </p>
                                <p class="sp-layer sp-white sp-padding" data-horizontal="50" data-vertical="100" data-show-transition="up" data-show-delay="500">
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>-->
                        </div>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/10.jpg">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/11.jpg">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/12.jpg">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/13.jpg">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/14.jpg">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/15.jpg">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/16.jpg">
                        <img alt="Image" class="sp-thumbnail" src="~/Content/kunti/17.jpg">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Description</h3>
                    </div>
                    <div class="col-md-9">
                        <h4>Kunti Betta (Day/Night)Trekking</h4>
                        <p>
                            Kunti Betta is a picturesque hill in the quaint town of Padavapura,marked by the two hills at an elevation of 2882m,the kunti betta is a must do an trekkers itinerary.This 3 hour trek is ideal for both domestic and international trekkers;nature lovers,thrill seeking couples and backpackers will enjoy this adventure.
                            </p>
                        <h4>What's include</h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_ok">
                                    <li>Transportation (from/to Bangalore)</li>
                                    <li>Day/Night Trek</li>
                                    <li>Breakfast</li>
                                    <li>Lunch</li>
                                    <li>Swimming</li>
                                    <li>Activities like rappelling,kayaking and swimming</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End row  -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Schedule</h3>
                    </div>
                    <div class="col-md-9">
                        <div class=" table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            You Should Know
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><th>Day Trek</th></tr>
                                    <tr>
                                        <td>
                                            6:30 AM Pick up starts from Bangalore
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            8:30 Am Reach Ramanagara Campsite and have Breakfast
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            11:00 AM Reach Kunti Betta base start the trek
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2:00 AM Relax and enjoy,Experience rappelling
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2:30 Head for lunch
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3:30 PM Enjoy water activities like Kayaking and swimming
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5:30 PM Head back to Bangalore enroute Ramanagara
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            8:00 PM Reach Bangalore
                                        </td>
                                    </tr>
                                    <tr><th>Night Trek</th></tr>
                                    <tr><td>10:00 PM Pick up starts from Bangalore</td></tr>
                                    <tr><td>12:00 AM Reach Ramanagara campsite where you can use washrooms while we load the equipment</td></tr>
                                   <tr><td> 02:00 AM Reach Kunti Betta base</td></tr>
                                   <tr><td>02:15 AM Start the trek</td></tr>
                                    <tr><td>04:15 AM Reach peak, relax and enjoy campfire</td></tr>
                                    <tr><td>06:00 AM Descend at dawn</td></tr>
                                    <tr><td>09:00 AM Head for breakfast</td></tr>
                                    <tr><td>10:00 AM Head back to Bangalore</td></tr>
                                    <tr><td>11:00 AM Reach Bangalore</td></tr>

                                </tbody>
                            </table>
                        </div>
                        <div class=" table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            You Should Carry
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Torch per person
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sports shoes or trekking shoes in good condition
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Backpack
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Rain coat/Poncho
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Water bottles
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Energy bars, dry fruits, etc.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Personal medication
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sweater/ jackets for the night
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Toiletries (napkin, tissues, etc.)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Flashlight/Torch with extra batteries
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Track pants and cotton T-shirt
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--End  single_tour_desc-->
            <aside class="col-md-4">
                <p class="hidden-sm hidden-xs">
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                </p>
                <div class="box_style_1 expose">
                    <h3 class="inner">- Booking -</h3>
                    <br>

                    <a class="btn_full" href="http://go.eventshigh.com/liclq">Book now</a>
                </div>
                <!--/box_style_1 -->
                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://+919880223554" class="phone">+91 9880223554</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>
<!-- End main -->
