
@{
    ViewBag.Title = "GiftCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="parallax-window" data-parallax="scroll" data-image-src="../Content/CustomImg/alltripbanner.jpg" data-natural-width="1200" data-natural-height="430">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Gift card</h1>
            <p>Take only memories.......Leave only footprints</p>
        </div>
    </div>
</section>


<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->
    <div class="container margin_60">

        <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <img src="~/content/img/giftcard.jpg" alt="Laptop" class="img-responsive laptop">
            </div>
            <div class="col-md-6 col-sm-6">
                <h3><span>Get started</span> with Utopiatrips</h3>
                <ul class="list_order">
                    <li><span>1</span>Select your preferred tours</li>
                    <li><span>2</span>Purchase tickets and options</li>
                    <li><span>3</span>Enter the code given on the back of the giftcard</li>
                </ul>
                <a href="@Url.Action("Index", "Home")" class="btn_1">Start Exploring</a>
            </div>
        </div>
        <!-- End row -->
        <hr>
        <div class="main_title">
            <h2>Some <span>good </span>reasons</h2>
            <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
        </div>
        <div class="row">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="feature">
                    <i class="icon_set_1_icon-30"></i>
                    <h3><span>+ 1000</span> Customers</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature">
                    <i class="icon_set_1_icon-41"></i>
                    <h3><span>+120</span> Premium city tours</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature">
                    <i class="icon_set_1_icon-57"></i>
                    <h3><span>H24</span> Support</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="feature">
                    <i class="icon_set_1_icon-61"></i>
                    <h3><span>10 Languages</span> available</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</main>
<!-- End main -->