
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


<section class="parallax-window" data-parallax="scroll" data-image-src="../Content/CustomImg/alltripbanner.jpg" data-natural-width="1200" data-natural-height="430">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>About</h1>
            <p>Take only memories.......Leave only footprints</p>
        </div>
    </div>
</section>

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href=@Url.Action("Index", "Default")><span>Home</span></a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- Position -->
    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3 col-md-3" id="sidebar">


                <!--End sticky -->
            </aside>
            <!--End aside -->
            <div class="" id="faq">
                <h3 class="nomargin_top"></h3>
                <div class="col-lg-13 col-md-13" id="faq">

                    <h2><strong>We are Utopia Trips</strong></h2>
                    <p style="text-align:left;"><i> At Utopia Trip we divide the world into travellers and the rest of the world. Quite simply our travellers love to do more. They don't just want to get behind the scenes but right into the heart of the action. They want to tell a different story – not just right away but for a long time after they return home. Our trips are for those who want to do the different.</i></p>
                    <p style="text-align:left;"><i> Exploring amazing travel destinations across the countryside, new culture, lifestyle, traditions and travelling to some of the exciting destinations on this earth is something that can make the busy and boring life of the people interesting. Peak Adventure is all about unusual and exciting activities that offer ultimate fun and experience.</i></p>
                    <p style="text-align:left;"><i> Whether adventure means a river rafting or trekking and camping on the high mountains, we assure a safe yet thrilling adventure experience to our travellers. Meticulous planning, safety and eco-sense mix together help us to add on smiles on the face of our every traveller. Our prime objective is to offer cost effective adventure trips to all the passionate and daring travellers located across the globe.</i></p>
                    <p style="text-align:left;"><i> Established in 2017, Namma Trip is listed among the trusted Adventure Tour operators in India. Since our inception, travellers from around the world have entrusted their dreams with us. We hold expertise in offering well-arranged and exciting packages for adventure travel. Further, we also lead in offering the best heritage tours, culture tours, wildlife tours and family adventure tours. Our holiday packages comprise of comfortable transportation and accommodation as per the preferences and budget of our clients.</i></p>
                    <p style="text-align:left;"><i> May the Tribe Be With You!</b></h5></p>
                    </ul>
                </div>
                <hr>
                <div class="container margin_60">
                    <div class="main_title">
                        <h2>What <span>customers </span>says</h2>
                        <p></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="review_strip">
                                <h4>Niranjan</h4>
                                <p>
                                    My experience with Utopia trip was awesome!never felt like i have come up with organized group..they make you comfortable as if you are travelling with your friends,worthy association with Utopia trip:)

                                </p>
                                <div class="rating">
                                    <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i>
                                </div>
                            </div>
                            <!-- End review strip -->
                        </div>
                        <div class="col-md-6">
                            <div class="review_strip">
                                <h4>Prashanth</h4>
                                <p>
                                    Kunti betta Awesome place to visit with Utopia trip. Will suggest to trek with Utopia trip Organisers are friendly and safety measures are taken care of very well, lastly door drop to every travelers was cool

                                </p>
                                <div class="rating">
                                    <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i>
                                </div>
                            </div>
                            <!-- End review strip -->
                        </div>

                        <!-- End review strip -->
                    </div>
                </div>
                <!-- End row -->
                <hr>
                <!-- End row -->
            </div>
            <!-- End Container -->
            <div></div>
</main>
<!-- End main -->
